In [1]:
import pandas as pd

In [2]:
stress_df = pd.read_csv("../Data/corporate_stress_dataset.csv")

In [3]:
satisfaction_df = pd.read_csv("../Data/Employee Satisfaction Index.csv")

In [4]:
satisfaction_df.rename(columns={'Dept': 'Department'}, inplace=True)

In [5]:
merged_df = pd.merge(stress_df, satisfaction_df, on='Department', how='inner')

In [6]:
print(merged_df.head())

   ID  Age      Gender Marital_Status   Job_Role  Experience_Years  \
0   1   56  Non-Binary        Widowed  Developer                 5
1   1   56  Non-Binary        Widowed  Developer                 5
2   1   56  Non-Binary        Widowed  Developer                 5
3   1   56  Non-Binary        Widowed  Developer                 5
4   1   56  Non-Binary        Widowed  Developer                 5

   Monthly_Salary_INR  Working_Hours_per_Week  Commute_Time_Hours  \
0           102703.08                      44                1.72
1           102703.08                      44                1.72
2           102703.08                      44                1.72
3           102703.08                      44                1.72
4           102703.08                      44                1.72

   Remote_Work  ...  location education recruitment_type job_level  rating  \
0         True  ...      City        UG          Walk-in         4       4
1         True  ...      City        PG        On-Campus         1       4
2         True  ...    Suburb        UG          Walk-in         4       3
3         True  ...    Suburb        UG         Referral         2       5
4         True  ...    Suburb        PG        On-Campus         1       2

   onsite  awards  certifications  salary  satisfied
0       1       6               0   65715          1
1       1       9               0   24076          0
2       1       8               0   65715          1
3       1       2               0   29805          1
4       1       9               0   24076          1

[5 rows x 43 columns]

In [7]:
print(merged_df.isnull().sum())

ID                                       0
Age                                      0
Gender                                   0
Marital_Status                           0
Job_Role                                 0
Experience_Years                         0
Monthly_Salary_INR                       0
Working_Hours_per_Week                   0
Commute_Time_Hours                       0
Remote_Work                              0
Stress_Level                             0
Health_Issues                       607481
Company_Size                             0
Department                               0
Sleep_Hours                              0
Physical_Activity_Hours_per_Week         0
Mental_Health_Leave_Taken                0
Manager_Support_Level                    0
Work_Pressure_Level                      0
Annual_Leaves_Taken                      0
Work_Life_Balance                        0
Family_Support_Level                     0
Job_Satisfaction                         0
Performance_Rating                       0
Team_Size                                0
Training_Opportunities                   0
Gender_Bias_Experienced                  0
Discrimination_Experienced               0
Burnout_Symptoms                         0
Location                                 0
Unnamed: 0                               0
emp_id                                   0
age                                      0
location                                 0
education                                0
recruitment_type                         0
job_level                                0
rating                                   0
onsite                                   0
awards                                   0
certifications                           0
salary                                   0
satisfied                                0
dtype: int64

In [8]:
merged_df.drop(columns=['Health_Issues', 'Unnamed: 0'], inplace=True)

In [9]:
print(merged_df.isnull().sum())

ID                                  0
Age                                 0
Gender                              0
Marital_Status                      0
Job_Role                            0
Experience_Years                    0
Monthly_Salary_INR                  0
Working_Hours_per_Week              0
Commute_Time_Hours                  0
Remote_Work                         0
Stress_Level                        0
Company_Size                        0
Department                          0
Sleep_Hours                         0
Physical_Activity_Hours_per_Week    0
Mental_Health_Leave_Taken           0
Manager_Support_Level               0
Work_Pressure_Level                 0
Annual_Leaves_Taken                 0
Work_Life_Balance                   0
Family_Support_Level                0
Job_Satisfaction                    0
Performance_Rating                  0
Team_Size                           0
Training_Opportunities              0
Gender_Bias_Experienced             0
Discrimination_Experienced          0
Burnout_Symptoms                    0
Location                            0
emp_id                              0
age                                 0
location                            0
education                           0
recruitment_type                    0
job_level                           0
rating                              0
onsite                              0
awards                              0
certifications                      0
salary                              0
satisfied                           0
dtype: int64

In [10]:
merged_df.to_csv("../Clean_Data/merged_dataset_cleaned.csv", index=False)